.DS_Store
.vscode/
.ipynb_checkpoints
.ipynb_checkpoints/**
.ipynb_checkpoints/*-checkpoint.ipynb
__pycache__/
.ipynb_checkpoints/preprocess-checkpoint.ipynb

src/mallet/

src/efselabwrapper/bin/*
src/efselabwrapper/*.so

src/setup/build
src/setup/data
src/setup/*.so
src/setup/pysuc_ne.c
src/setup/pysuc.c
src/setup/pysuc_ne.c
src/setup/pyudt_suc_sv.c
src/setup/swe-pipeline
src/setup/udt_suc_sv
src/setup/udt_suc_sv.c
src/setup/lemmatize.c